#moodlist {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#moodlist-title {
  margin-bottom: 3%;
  font-size: 2rem;
  text-align: right;
}

@media screen and (orientation: portrait) {
  #moodlist {
    width: 100%;
  }

  #moodlist-title {
    font-size: 1.5rem;
  }
}
