#mood-form {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form {
  width: 60%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.input {
  padding: 0.25rem;
  border: 0;
  border-bottom: #000 1px dashed;
  background: transparent;
}

#mood-type-container {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
  font-family: whatsapp-emoticons;
  font-size: 3rem;
}

.active-mood {
  font-size: 3.5rem;
}

#date-time-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

#text-container,
#text-input {
  width: 100%;
  font-family: six-hands-marker, sans-serif;
}

.send-button {
  width: fit-content;
  border: 0;
  background: transparent;
  font-family: six-hands-condensed, sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

#button-icon {
  margin-left: 1rem;
  font-family: whatsapp-emoticons;
}

@media screen and (orientation: portrait) {
  #mood-form {
    width: 100%;
    margin-bottom: 10%;
    align-items: center;
  }

  form {
    width: 80%;
  }

  .send-button {
    font-size: 2rem;
  }
}
