#moodlist {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#moodlist-items-container {
  position: relative;
  top: -2rem;
}

#no-moods {
  margin: 3rem 0;
  font-size: 1.25rem;
}

@media screen and (orientation: portrait) {
  #moodlist {
    width: 100%;
  }
}
