#moodlist {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#moodlist-separator {
  display: none;
}

#moodlist-items-container {
  position: relative;
}

#no-moods {
  margin: 3rem 0;
  font-size: 1.25rem;
}

@media screen and (orientation: portrait) {
  #moodlist {
    width: 100%;
    padding: 0 1rem;
  }

  #moodlist-separator {
    display: flex;
    width: 50%;
    margin: 3rem 0;
    align-self: center;
  }
}
