#statistics {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#statistics-moods-container {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}

.statistics-mood {
  display: flex;
  align-items: flex-start;
  gap: 0.2rem;
}

.statistics-mood-icon {
  font-family: whatsapp-emoticons;
  font-size: 2.75rem;
}

.statistics-mood-counter {
  font-family: six-hands-condensed, sans-serif;
  font-size: 1.5rem;
}

#statistics-tip-container {
  position: relative;
  top: 1rem;
  right: 2rem;
}

#statistics-tip-arrow {
  width: 3rem;
  position: relative;
  top: 2.5rem;
  left: 1rem;
  transform: rotate(-100deg);
}

#statistics-tip-text {
  width: 7rem;
  position: absolute;
  top: 6rem;
  transform: rotate(-15deg);
  text-align: center;
}

@media screen and (orientation: portrait) {
  #statistics {
    width: 100%;
    margin-bottom: 4rem;
  }

  #statistics-mood-container {
    margin-top: 1rem;
  }

  .statistics-mood-icon {
    font-size: 2rem;
  }

  .statistics-mood-counter {
    font-size: 1.25rem;
  }

  #statistics-tip-container {
    align-self: flex-start;
    right: unset;
    top: 0.5rem;
    left: 4rem;
  }

  #statistics-tip-arrow {
    width: 2rem;
    top: 1.5rem;
    left: 1.5rem;
    transform: rotate(-100deg);
  }

  #statistics-tip-text {
    position: relative;
    top: 3rem;
    transform: rotate(-15deg);
    font-size: 0.8rem;
  }
}
