header {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  column-gap: 5%;
}

#page-title {
  font-family: audrielle-no1, sans-serif;
  font-size: 8rem;
  transform: rotate(-5deg);
}

#page-title span {
  font-family: audrielle-no2, sans-serif;
}

nav {
  display: flex;
}

.nav-icon {
  font-family: pwsmallicons;
  font-size: 4rem;
}

@media screen and (orientation: portrait) {
  header {
    width: 100%;
    flex-direction: column;
    padding: 0 10%;
  }

  #page-title {
    font-size: 7rem;
    align-self: flex-start;
  }

  nav {
    margin-top: -10%;
  }

  .nav-icon {
    font-size: 3rem;
    align-self: flex-end;
  }
}
