/* ADOBE FONTS */
@import url("https://use.typekit.net/afj3hjl.css");

/* REMIX ICONS */
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");

/* OTHER FONTS */

@font-face {
  font-family: "pwsmallicons";
  src: url("assets/FONT/pwsmallicons-webfont.woff2") format("woff2"),
    url("assets/FONT/pwsmallicons-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "whatsapp-emoticons";
  src: url("assets/FONT/whatsapp_emoticons-webfont.woff2") format("woff2"),
    url("assets/FONT/whatsapp_emoticons-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  padding-top: 5%;
  overflow-x: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #efe3f8;
  background: linear-gradient(120deg, #efe3f8 0%, #d3b5e9 35%, #9975b4 100%);
  font-family: six-hands-marker, sans-serif;
  font-weight: 400;
  color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

.clickable:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#outer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

main {
  width: 100%;
  display: flex;
  padding: 5% 0;
}

@media screen and (orientation: landscape) {
  #outer-container {
    width: 1000px;
  }

  main {
    flex-direction: row;
    column-gap: 5%;
  }
}

@media screen and (orientation: portrait) {
  h2 {
    font-size: 1.5rem;
  }

  #outer-container {
    width: 350px;
    flex-direction: column;
  }

  main {
    flex-direction: column-reverse;
  }

  .clickable:hover {
    transform: none;
  }
}
